.row
  .col.s12.m6.offset-m3
    .card
      .card-content.deep-orange-text
        .daimei
        タイトル:
        - if blog.title.present?
          - unless action_name == "show"
            = blog.title.truncate(18)
          - else
            = blog.title
        -else
          無題


        .naiyou
        内容:
        - unless action_name == "show" 
          = blog.content.truncate(30)
        - else
          = blog.content

        .namae 
          %span 投稿者
          = blog.user.name
        
        .tagu
        - if blog.tags.present?
          - blog.tags.each do |tag|
            .chip
              = link_to "#{tag.name}","/tags/#{tag.id}",method: :get
        

      .card-action
        %ul.more_list
          %li.lili
            - unless action_name == "show"
              = link_to '詳細', "/blogs/#{blog.id}", class: "btn btn-dark btn-sm ", method: :get
            - if user_signed_in? && current_user.id == blog.user_id
              %ul.user_more_list
                %li.lili
                  = link_to '編集', "/blogs/#{blog.id}/edit", class: "btn btn-dark btn-sm ", method: :get
                    
                %li.lili
                  = link_to '削除', "/blogs/#{blog.id}",class: "btn btn-dark btn-sm ", method: :delete
          %li.good_btn
            = render partial:'likes/like',locals: { blog: blog }



